<p></p>
<h3>UI Library (v2) with ng17, Signals etc.</h3>
<p></p>
<div class="columns" style="margin-top: .5rem;">
    <div class="container">
        <div class="item">
            <strong>BADGE</strong>
            <div class="instances">
                <ui-badge value="4" [style]=1></ui-badge>
                <ui-badge value="4" [style]=2></ui-badge>
                <ui-badge value="4" [style]=3></ui-badge>
                <ui-badge value="4" [style]=4></ui-badge>
                <ui-badge label="CTP2" [style]=4></ui-badge>
            </div>
        </div>
        <div class="item">
            <strong>BUTTON</strong>
            <div class="instances">
                <ui-button label="Simple button" [style]=0></ui-button>
                <ui-button label="Simple button with icon" icon="check" [style]=0></ui-button>
                <ui-button label="Simple disabled button" icon="check" [style]=0 [disabled]=true></ui-button>
                <ui-button label="Apply" icon="check"></ui-button>
                <ui-button label="Cancel" icon="times" [style]=4></ui-button>
                <ui-button label="Ok" [style]=5></ui-button>
                
                <ui-button label="Notifications">
                    <ui-badge value="4" [style]=2></ui-badge>
                    <ui-badge value="5" [style]=2></ui-badge>
                </ui-button>
            </div>
        </div>
        <div class="item">
            <strong>CARD</strong>
            <div class="instances">
                <ui-card title="Card Example" text="Sample Card">
                    <ui-button label="Okay" slot="footer-left"></ui-button>
                </ui-card>
                <ui-card title="Card Example #2" text="Sample Card">
                    <ui-button icon="pop-out" [style]=0 slot="header-right"></ui-button>
                </ui-card>
            </div>
        </div>
        <div class="item">
            <strong>ENTRY TILE</strong>
            <div class="instances">
                
            </div>
        </div>
        <div class="item">
            <strong>ENTRY TILE GRID</strong>
            <div class="instances">
                
            </div>
        </div>
        <div class="item">
            <strong>PROPERTY ENTRY</strong>
            <div class="instances">
                
            </div>
        </div>
        <div class="item">
            <strong>PROPERTY METRIC</strong>
            <div class="instances">
                
            </div>
        </div>
        <div class="item">
            <strong>TOOLBAR</strong>
            <div class="instances">
                
            </div>
        </div>
        <div class="item">
            <strong>VALUE TILE</strong>
            <div class="instances">
                
            </div>
        </div>
    </div>
</div>