:host {
    display: contents;
    .container {
        gap: 1rem;
    }
    .instances {
        margin-top: .4rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
}