
<div class="page-header">UI Library (v2) with ng17, Signals etc.</div>


<div class="item">
  <div class="title">
    INPUT
    <div class="subtitle">
      <ui-button [label]="'Set Value'" (onClick)="inputValue.set('New Value')"></ui-button>

    </div>
  </div>
  <div class="columns" style="margin-top: 0.5rem">
    <div class="container">
      <ui-input [(value)]="inputValue"></ui-input>
    </div>
  </div>
</div>

<div class="item">
  <div class="title">
    TABS (using TAB)
    <div class="subtitle">
      Current active tab is index = {{ activeTabIndex() }}
      <ui-button [label]="'Switch to 0'" (onClick)="activeTabIndex.set(0)"></ui-button>
      <ui-button [label]="'Switch to 1'" (onClick)="activeTabIndex.set(1)"></ui-button>
    </div>
  </div>
  <div class="columns" style="margin-top: 0.5rem">
    <div class="container">
      <ui-tabs [(activeIndex)]="activeTabIndex" [style]=1 [showButtons]=true>
        <ui-tab label="Fruits">
          <li>Apple</li>
          <li>Lemon</li>
        </ui-tab>
        <ui-tab label="Pizza" [active]=true>
          <li>Salami</li>
          <li>Funghi</li>
        </ui-tab>
        <ui-tab label="Disabled" [disabled]=true>
          <li>Unreachable</li>
          <li>Content</li>
        </ui-tab>
        <ui-tab label="More Fruits">
          <li>Kiwi</li>
          <li>Banana</li>
        </ui-tab>
      </ui-tabs>
    </div>
  </div>
</div>

<div class="item">
  <div class="title">
    SWITCH
    <div class="subtitle">
      Simple toggle switch -> Current state: <strong>{{ toggleState().toString().toUpperCase() }}</strong> / Modify: 
      <ui-button [label]="'Switch to '+(!toggleState()).toString().toUpperCase()" (onClick)="toggleState.set(!toggleState())"></ui-button>

    </div>
  </div>
  <div class="columns" style="margin-top: 0.5rem">
    <div class="container">
      <ui-switch label="Switch" [(state)]="toggleState"></ui-switch>
    </div>
  </div>
</div>

<div class="item">
  <div class="title">BADGE
    <div class="subtitle">
      Overflow > 99; Supports three sizes and four styles (colors); Supports text content as well
    </div>
  </div>
  <div class="instances">
    <ui-badge value="14" [style]="1"></ui-badge>
    <ui-badge value="99" [style]="2"></ui-badge>
    <ui-badge value="4" [style]="3"></ui-badge>
    <ui-badge value="4" [style]="4"></ui-badge>
    <ui-badge value="18" size="1"></ui-badge>
    <ui-badge value="96" size="3"></ui-badge>
    <ui-badge label="CTP2" [style]="4"></ui-badge>
    <ui-badge label="CTP3" value="45" [style]="3"></ui-badge>
  </div>
</div>

<div class="item">
  <div class="title">BUTTON (containing BADGE)</div>
  <div class="instances">
    <ui-button label="Simple button" [style]="0"></ui-button>
    <ui-button
      label="Simple + Icon"
      icon="check"
      [style]="0"
    ></ui-button>
    <ui-button
      label="Simple disabled"
      icon="check"
      [style]="0"
      [disabled]="true"
    ></ui-button>
    <ui-button label="Apply" icon="check"></ui-button>
    <ui-button label="Cancel" icon="times" [style]="4"></ui-button>
    <ui-button label="Ok" [style]="5"></ui-button>
    <ui-button label="None" [style]="2"></ui-button>

    <ui-button label="Notifications">
      <ui-badge value="4" [style]="2"></ui-badge>
    </ui-button>
    <ui-button label="Outline" [style]="3"></ui-button>
    
  </div>
</div>
<div class="item">
  <div class="title">CARD (containing BUTTON)</div>
  <div class="instances">
    <ui-card header="Card Example" >
        <ui-card-section-basic text="Sample Card">
          <ui-button label="Okay" slot="footer-left"></ui-button>
        </ui-card-section-basic>
    </ui-card>
    <ui-card header="Card Example #2">
        <ui-button icon="pop-out" [style]="0" slot="header-right"></ui-button>
        <ui-card-section-basic text="Enable the advanced feature flag in this application.">
          <ui-switch label="Advanced" slot="footer-left"></ui-switch>
      </ui-card-section-basic>
    </ui-card>
    <ui-card header="Card Example #2" [isLoading]=true>
    </ui-card>
  </div>
</div>
<div class="item">
  <div class="title">ENTRY TILE (containing ENTRY KEY VALUE & ENTRY ITEM)
    <div class="subtitle">
      main tile to show kay-value pairs or property data (with or without states); several config options available
    </div>
  </div>
  <div class="columns" style="margin-top: 0.5rem">
    <div class="container">
      <ui-entry-tile header="Simple Tile">
        <ui-entry-key-value
          label="State"
          value="Okay"
          [style]="3"
          [big]=true
        ></ui-entry-key-value>

        <ui-entry-item
          primaryValue="Primary"
          secondaryValue="Subtitle"
          state="0"
          showStateIcon="true"
          [isLoading]="false"
        >
        </ui-entry-item>
        <ui-entry-item
          primaryValue="Primary"
          [isLoading]=true
        >
        </ui-entry-item>
      </ui-entry-tile>
    </div>
    <div class="container">
      <ui-entry-tile
        header="Paged Tile"
        titleIcon="cpu"
        collapseMode="1"
        moreButtonLabel="More"
        [style]="0"
        [pageSize]="3"
      >
        <ui-entry-key-value
          label="Onboarding"
          value="Started"
          [style]="1"
        ></ui-entry-key-value>
        <ui-entry-key-value
          label="Updated"
          value="50 mins ago"
          [isLoading]="false"
        ></ui-entry-key-value>
        <ui-entry-item
          primaryValue="Primary"
          secondaryValue="Subtitle"
          state="0"
          showStateIcon="true"
          [isLoading]="false"
        >
        </ui-entry-item>

        @for (_ of [].constructor(4); track $index) {
          <ui-entry-item
            header="TEST"
            [primaryValue]="'Registered'.concat(($index + 4).toString())"
          >
            <ui-button label="Delete" [style]="6" icon="trash"></ui-button>
          </ui-entry-item>
        }

        <ui-entry-item
          header="Connectivity"
          primaryValue="Connected"
          secondaryValue="4 mins ago"
          icon="pop-out"
          [clickable]="true"
        >
          <ui-badge value="6" [style]="2" [size]="2"></ui-badge>
        </ui-entry-item>
      </ui-entry-tile>
    </div>
    <div class="container">
      <ui-entry-tile
        header="Tile with Buttons"
        titleIcon="cpu"
        collapseMode="1"
        state="2"
      >
        <ui-entry-key-value
          label="State"
          value="Unhealthy"
          [style]="2"
        ></ui-entry-key-value>
        <ui-entry-key-value
          label="Updated"
          value="50 mins ago"
          [isLoading]="false"
        ></ui-entry-key-value>
        <ui-entry-item
          primaryValue="Messages"
          secondaryValue="1 Unread"
          state="2"
          showStateIcon="true"
          [isLoading]="false"
        >
          <ui-badge value="1" [style]="2"></ui-badge>
        </ui-entry-item>

        <ui-entry-item
          header="Connectivity"
          primaryValue="Connected"
          secondaryValue="4 mins ago"
          icon="pop-out"
          [clickable]="true"
        >
        </ui-entry-item>

        <ui-button label="Accept" [style]="5" icon="check" slot="left">
          <ui-badge value="3"></ui-badge>
        </ui-button>
        <ui-button
          label="Delete"
          [style]="4"
          icon="trash"
          slot="right"
        ></ui-button>
      </ui-entry-tile>
    </div>
  </div>
</div>

<div class="item">
  <div class="title">
    ENTRY CONTAINER (containing ENTRY KEY VALUE & ENTRY METRIC)
    <div class="subtitle">
      used for layouting several ENTRY KEY VALUE & ENTRY METRIC components in columns; can be made clickable
    </div>
  </div>
  <div class="columns" style="margin-top: 0.5rem">
    <div class="container">
      <ui-entry-container>
        <ui-entry-key-value
          label="State"
          value="Completed"
          [style]="3"
        ></ui-entry-key-value>
        <ui-entry-key-value
          label="Timestamp"
          value="10.04.2024 07:22 PM"
        ></ui-entry-key-value>
      </ui-entry-container>
    </div>
    <div class="container">
      <ui-entry-container>
        <ui-entry-key-value label="Completed" value="33%"></ui-entry-key-value>
        <ui-entry-metric [percent]="33" [isLoading]="false"> </ui-entry-metric>
      </ui-entry-container>
    </div>
    <div class="container">
      <ui-entry-container>
        <ui-entry-key-value label="State" value="Loading"></ui-entry-key-value>
        <ui-entry-metric [percent]="10" [isLoading]="true" [style]="2">
        </ui-entry-metric>
      </ui-entry-container>
    </div>
    <div class="container">
      <ui-entry-container>
        <ui-entry-key-value
          label="State"
          value="Warning"
          state="1"
          [big]=true
        ></ui-entry-key-value>
      </ui-entry-container>
    </div>
  </div>
</div>
<div class="item">
  <div class="title">ENTRY METRIC</div>
  <div class="columns" style="margin-top: 0.5rem">
    <div class="container">
      <ui-entry-metric [percent]="33" [isLoading]="false"> </ui-entry-metric>
    </div>
    <div class="container">
      <ui-entry-metric [percent]="10" [isLoading]="false" [style]="2">
      </ui-entry-metric>
    </div>
  </div>
</div>
<div class="item">
  <div class="title">
    TOOLBAR (containing BADGE & BUTTON)
    <div class="subtitle">
      used to layout BUTTON and / or BADGE in a bar (aling left or right using
      slot attribute)
    </div>
  </div>

  <ui-toolbar>
    <ui-button
      slot="left"
      label="Left Simple #1"
      icon="check"
      [style]="0"
    ></ui-button>
    <ui-button
      slot="left"
      label="Left Simple #2"
      [style]="0"
      [disabled]="true"
    ></ui-button>
    <ui-badge [style]="0" label="CTP2" slot="left"></ui-badge>

    <ui-button label="Right #1" slot="right">
      <ui-badge value="3"></ui-badge>
    </ui-button>
    <ui-button label="Right #2" slot="right" [style]="3"> </ui-button>
    <ui-button icon="play" slot="right" [style]="0"></ui-button>
    <ui-button icon="stop" slot="right" [style]="0"></ui-button>
  </ui-toolbar>
</div>
<div class="item">
  <div class="title">VALUE TILE (containing BADGE & BUTTON)</div>
  <div class="instances">
    <ui-value-tile key="Vin" value="WDB0101010110" [isLoading]=false>
      <ui-button icon="copy" [style]="0"></ui-button>
      <ui-button icon="pop-out" [style]="0"></ui-button>
    </ui-value-tile>
    <ui-value-tile key="Vin" value="NONE" state="2"> </ui-value-tile>
    <ui-value-tile key="Streaming" value="ENABLED" state="3"> </ui-value-tile>
    <ui-value-tile key="Notifications" value="Pending">
      <ui-badge [style]="1" value="12"></ui-badge>
    </ui-value-tile>
    <ui-value-tile key="xx" value="xx" [isLoading]=true>
    </ui-value-tile>
  </div>
</div>


<div class="item">
  <div class="title">
    METRIC TILE (containing ENTRY CONTAINER)
    <div class="subtitle">
      used to show several ENTRY CONTAINERS (each with 1 KEY VALUE and 1 METRIC inside)
    </div>
  </div>
  <div class="columns" style="margin-top: 0.5rem">
    <div class="container">
      <ui-metric-tile header="Test Metrics">
        <ui-entry-container>
          <ui-entry-key-value label="None" value="14%" [style]="1"></ui-entry-key-value>
          <ui-entry-metric [percent]="14" [style]="1" [isLoading]="false"> </ui-entry-metric>
        </ui-entry-container>

        <ui-entry-container id="middle-metric-123" [clickable]=true (onClick)="log($event)">
          <ui-entry-key-value label="Started" value="33%"></ui-entry-key-value>
          <ui-entry-metric [percent]="33" [isLoading]="false"> </ui-entry-metric>
        </ui-entry-container>

        <ui-entry-container>
          <ui-entry-key-value label="Completed" value="53%" [style]="3"></ui-entry-key-value>
          <ui-entry-metric [percent]="53" [style]="3" [isLoading]="false"> </ui-entry-metric>
        </ui-entry-container>
      </ui-metric-tile>
    </div>
    <div class="container">
      &nbsp;
    </div>
    <div class="container">
      &nbsp;
    </div>
  </div>


