<!-- TAGS with Component Store -->
<component-header title="TAGS" subtitle="with Component Store"></component-header>
<div class="columns">
    <div class="container" *ngFor="let model of tagsCSData">
        <div class="item">
            <div [class.debugBorder]="showComponentBorder">
                <csgp-tags-cs 
                    (initialized)="setIIO($event, model)" 
                    (onAddClick)="addTag(model, true)"
                    (onClick)="setOutput(model)">
                </csgp-tags-cs>
            </div>
        </div>
        <div class="description">
            {{ model.$description }}
        </div>
        <div class="item-output">
            {{ model.$output }}
        </div>
    </div>
</div>

<!-- TAGS without Component Store -->
<component-header title="TAGS" subtitle="without Component Store"></component-header>
<div class="columns">
    <div class="container" *ngFor="let model of tagsData">
        <div class="item">
            <div [class.debugBorder]="showComponentBorder">
                <csgp-tags 
                    [tags]="model.tags"
                    [isLoading]="model.isLoading"
                    [showTagsIcon]="model.showTagsIcon"
                    [showDeletionButton]="model.showDeletionButton"
                    [showEditButton]="model.showEditButton"
                    [showAddButton]="model.showAddButton"
                    [enableClick]="model.enableClick"
                    [enableClickMore]="model.enableClickMore"
                    [overflowAfterXItems]="model.overflowAfterXItems"
                    [moreTagsLabel]="model.moreTagsLabel"
                    (onAddClick)="addTag(model, false)"
                    (onClick)="setOutput($event)">
                </csgp-tags>
            </div>
        </div>
        <div class="description">
            {{ model.$description }}
        </div>
        <div class="item-output">
            {{ model.$output }}
        </div>
    </div>
</div>
