<!-- BUTTON with Component Store -->
<component-header title="ENTRY TILE" subtitle="with Component Store"></component-header>

<div style="display: flex; gap: .5rem;margin-bottom: .5rem;">
    <div class="button" (click)="addTestItem()">Add Item and Header</div>
    <div class="button" (click)="toggleCollapseTile()">Toggle Collapse Tile</div>
    <div class="button" (click)="gotoPage(1)">Page 2</div>
</div>

<div class="columns">
    <div class="container" *ngFor="let model of tileData">
        <div class="item">
            <div [class.debugBorder]="showComponentBorder">
                <csgp-v2-entry-tile
                    [isLoading]="model.isLoading"
                    [id]="model.id"
                    [title]="model.title"
                    [titleIcon]="model.titleIcon"
                    [collapseMode]="model.collapseMode"
                    [isCollapsed]="model.isCollapsed"
                    [state]="model.state"
                    [header]="model.header"
                    [items]="model.items"
                    [showMoreButtonLabel]="model.showMoreButtonLabel"
                    [pageSize]="model.pageSize"
                    [initializedCallBack]="initCallback"
                    (onItemClick)="setOutput(model)"
                    (onShowMoreClick)="moreClicked($event)"
                >
                </csgp-v2-entry-tile>
            </div>
        </div>
        <div class="description">
            {{ model.$description }}
        </div>
        <div class="item-output">
            {{ model.$output }}
        </div>
    </div>
</div>

<div style="display: flex; gap: .4rem;">
    <div class="button" (click)="setMaxItems(true)">+</div>
    <div class="button" (click)="setMaxItems(false)">-</div>
</div>

<div class="columns">
    <div class="container">
        <div class="item">
            <ui-entry-tile 
                title="This is a new title" 
                titleIcon="cpu" 
                collapseMode="1" 
                [isLoading]=false


                >
                
                <uic-entry-tile-title 
                    label="State" 
                    value="Unhealthy"
                    valueIcon="error-standard"
                    valueColor="red"
                    >
                </uic-entry-tile-title>
                
                <uic-entry-tile-title 
                    label="Updated" 
                    value="50 min ago"
                    >
                </uic-entry-tile-title>

                <uic-entry-tile-item 
                    primaryValue="Primary" 
                    secondaryValue="Subtitle" 
                    state="1" 
                    showStateIcon=true
                    >
                </uic-entry-tile-item>
                
                <uic-entry-tile-item 
                    primaryValue="Registered1"
                    [clickable]="true"
                    >
                </uic-entry-tile-item>


                <uic-entry-tile-item 
                    primaryValue="Registered2"
                    [clickable]="true"
                    >
                </uic-entry-tile-item>

                <uic-entry-tile-item 
                    primaryValue="Registered3"
                    [clickable]="true"
                    >
                </uic-entry-tile-item>


                <uic-entry-tile-item 
                    primaryValue="Registered4"
                    [clickable]="true"
                    >
                </uic-entry-tile-item>

                <uic-entry-tile-item 
                    primaryValue="Registered5"
                    [clickable]="true"
                    >
                </uic-entry-tile-item>
            </ui-entry-tile>
        </div>
    </div>
    <div class="container">&nbsp;</div>
    <div class="container">&nbsp;</div>
</div>
