<!-- BUTTON with Component Store -->
<component-header title="ENTRY TILE" subtitle="with Component Store"></component-header>

<div style="display: flex; gap: .5rem;margin-bottom: .5rem;">
    <div class="button" (click)="addTestItem()">Add Item and Header</div>
    <div class="button" (click)="toggleCollapseTile()">Toggle Collapse Tile</div>
    <div class="button" (click)="gotoPage(1)">Page 2</div>
</div>

<div class="columns">
    <div class="container" *ngFor="let model of tileData">
        <div class="item">
            <div [class.debugBorder]="showComponentBorder">
                <csgp-v2-entry-tile
                    [isLoading]="model.isLoading"
                    [id]="model.id"
                    [title]="model.title"
                    [titleIcon]="model.titleIcon"
                    [collapseMode]="model.collapseMode"
                    [isCollapsed]="model.isCollapsed"
                    [state]="model.state"
                    [header]="model.header"
                    [items]="model.items"
                    [showMoreButtonLabel]="model.showMoreButtonLabel"
                    [pageSize]="model.pageSize"
                    [initializedCallBack]="initCallback"
                    (onItemClick)="setOutput(model)"
                    (onShowMoreClick)="moreClicked($event)"
                >
                </csgp-v2-entry-tile>
            </div>
        </div>
        <div class="description">
            {{ model.$description }}
        </div>
        <div class="item-output">
            {{ model.$output }}
        </div>
    </div>
</div>

<div class="button-row">
    <div>Tile State</div>
    <div class="button" (click)="setMaxItems(true)">+</div>
    <div>{{ maxItems }}</div>
    <div class="button" (click)="setMaxItems(false)">-</div>
    <div class="button" (click)="entryTile2State = 4">(auto)</div>
    <div class="button" (click)="entryTile2State = 3">GREEN</div>
    <div class="button" (click)="entryTile2State = 2">RED</div>
    <div class="button" (click)="entryTile2State = 1">ORANGE</div>
    <div class="button" (click)="entryTile2State = 0">GREY</div>
</div>
<div class="button-row">
    <div>Tile Items per Page</div>
    <div class="button" (click)="setItemsPerPage(true)">+</div>
    <div>{{ itemsPerPage }}</div>
    <div class="button" (click)="setItemsPerPage(false)">-</div>
</div>
<div class="button-row">
    <div>First Title State</div>
    <div class="button" (click)="entryTile2TitleState = 3">GREEN</div>
    <div class="button" (click)="entryTile2TitleState = 2">RED</div>
    <div class="button" (click)="entryTile2TitleState = 1">ORANGE</div>
    <div class="button" (click)="entryTile2TitleState = 0">GREY</div>
</div>

<div class="columns" style="margin-top: .5rem;">
    <div class="container">
        <div class="item">
            <ui-entry-tile 
                title="Entry Tile with config objects" 
                titleIcon="cpu" 
                collapseMode=1 
                [isLoading]="false"
                moreButtonLabel="More"
                [state]="entryTile2State"
                [pageSize]="itemsPerPage"
                >
                
                <uic-entry-tile-title label="State" value="Unhealthy" [state]="entryTile2TitleState"></uic-entry-tile-title>
                <uic-entry-tile-title label="Updated" value="50 mins ago" isLoading="true"></uic-entry-tile-title>

                <uic-entry-tile-item 
                    primaryValue="Primary" 
                    secondaryValue="Subtitle" 
                    state=0 
                    showStateIcon=true
                    >

                </uic-entry-tile-item>
                
                <uic-entry-tile-item 
                    title="Connectivity"
                    primaryValue="Connected"
                    secondaryValue="4 mins ago"
                    icon="pop-out"
                    [clickable]="true"
                    >

                </uic-entry-tile-item>


                <uic-entry-tile-item 
                    primaryValue="Completed"
                    secondaryValue="2 mins ago"
                    state=3
                    title="TLS Registration"
                    >
                </uic-entry-tile-item>

                <uic-entry-tile-item 
                    primaryValue="Started"
                    secondaryValue="12 mins ago"
                    state=1
                    title="Onboarding"
                    >
                </uic-entry-tile-item>
                
                @for (_ of [].constructor(4); track $index) {
                    <uic-entry-tile-item 
                        title="TEST"
                        [primaryValue]="'Registered'.concat(($index + 4).toString())"
                        >
                    </uic-entry-tile-item>

                }
            </ui-entry-tile>

                
        </div>
    </div>
    
    <div class="container">
        <div class="item">
            <ui-entry-tile-3 
                title="Separated Tile" 
                titleIcon="cpu" 
                collapseMode=1 
                [isLoading]="true"
                moreButtonLabel="More"
                [state]="entryTile2State"
                [pageSize]="itemsPerPage"
                >
                <ui-button-v2 label="Long Button #2" [style]=1></ui-button-v2>
                <ui-entry-key-value label="State" value="Unhealthy" [state]="entryTile2TitleState"></ui-entry-key-value>
                <ui-entry-key-value label="Updated" value="50 mins ago" [isLoading]="false"></ui-entry-key-value>
                <ui-entry-item 
                    primaryValue="Primary" 
                    secondaryValue="Subtitle" 
                    state=0 
                    showStateIcon=true
                    [isLoading]="false"
                    >
                    <ui-badge value=13 [state]=3></ui-badge>
                    <ui-button-v2 label="Start" [style]=0 icon="play"></ui-button-v2>
                    <ui-button-v2 label="Stop" [style]=6 icon="stop"></ui-button-v2>
                </ui-entry-item>

                @for (_ of [].constructor(4); track $index) {
                    <ui-entry-item 
                        title="TEST"
                        [primaryValue]="'Registered'.concat(($index + 4).toString())"
                        >
                            <ui-button-v2 label="Delete" [style]=6 icon="trash"></ui-button-v2>
                        
                    </ui-entry-item>

                }

                <ui-entry-item 
                    title="Connectivity"
                    primaryValue="Connected"
                    secondaryValue="4 mins ago"
                    icon="pop-out"
                    [clickable]="true"
                    >
                    <ui-badge value=6 [state]=2 [size]=2></ui-badge>
                    <ui-badge value=33 [state]=2></ui-badge>
                </ui-entry-item>

                <ui-button-v2 label="Accept" [style]=5 icon="check">
                    <ui-badge value="3"></ui-badge>
                </ui-button-v2>
                <ui-button-v2 label="Delete" [style]=4 icon="trash"></ui-button-v2>

            </ui-entry-tile-3>
        </div>
    </div>
    <div class="container">
       <div class="item">
            <ui-button-v2 
                label="Button Label" 
                icon="trash" 
                [disabled]="false"
                [style]=1
                id="a2a3a5b0"
                (onClick)="buttonId.set($event)"
            >
                <ui-badge value=3 [state]=0></ui-badge>
            </ui-button-v2>

        </div>
        <br/>
        Id from Button: {{ buttonId() }}
    </div>
</div>


<br/>
<ui-test-button label="Very long Button #1">
    <ui-badge value="7"></ui-badge>    
</ui-test-button>
<br/>
<ui-badge  [state]=2></ui-badge>
<br/>