:host {
    display: contents;

    .button-row {
        margin-bottom: .3rem;
        display: flex; 
        gap: .4rem; 
        align-items: center;
    }

    .button {
        width: fit-content; 
        border: 1px solid lightgray;
        border-radius: .2rem;
        box-shadow: 0px 0px 7px #eaeaea;
        background-color: #f6f6f5; 
        padding: .15rem .4rem; 
        cursor: pointer;
        user-select: none;
        color: #007a93;
        &:hover {
            border: 1px solid #007a93;
            &:active {
                border: 1px solid black;
            }
        }
    }
}