<!-- BUTTON with Component Store -->
<component-header title="ENTRY TILE" subtitle="with Component Store"></component-header>

<div style="display: flex; gap: .5rem;margin-bottom: .5rem;">
    <div class="button" (click)="addTestItem()">Add Item and Header</div>
    <div class="button" (click)="toggleCollapseTile()">Toggle Collapse Tile</div>
    <div class="button" (click)="gotoPage(1)">Page 2</div>
</div>

<div class="columns">
    <div class="container" *ngFor="let model of tileData">
        <div class="item">
            <div [class.debugBorder]="showComponentBorder">
                <csgp-v2-entry-tile
                    [isLoading]="model.isLoading"
                    [id]="model.id"
                    [title]="model.title"
                    [titleIcon]="model.titleIcon"
                    [collapseMode]="model.collapseMode"
                    [isCollapsed]="model.isCollapsed"
                    [state]="model.state"
                    [header]="model.header"
                    [items]="model.items"
                    [showMoreButtonLabel]="model.showMoreButtonLabel"
                    [pageSize]="model.pageSize"
                    [initializedCallBack]="initCallback"
                    (onItemClick)="setOutput(model)"
                    (onShowMoreClick)="moreClicked($event)"
                >
                </csgp-v2-entry-tile>
            </div>
        </div>
        <div class="description">
            {{ model.$description }}
        </div>
        <div class="item-output">
            {{ model.$output }}
        </div>
    </div>
</div>

<div class="button-row">
    <div>Tile State</div>
    <div class="button" (click)="setMaxItems(true)">+</div>
    <div>{{ maxItems }}</div>
    <div class="button" (click)="setMaxItems(false)">-</div>
    <div class="button" (click)="entryTile2State = 4">(auto)</div>
    <div class="button" (click)="entryTile2State = 3">GREEN</div>
    <div class="button" (click)="entryTile2State = 2">RED</div>
    <div class="button" (click)="entryTile2State = 1">ORANGE</div>
    <div class="button" (click)="entryTile2State = 0">GREY</div>
</div>
<div class="button-row">
    <div>Tile Items per Page</div>
    <div class="button" (click)="setItemsPerPage(true)">+</div>
    <div>{{ itemsPerPage }}</div>
    <div class="button" (click)="setItemsPerPage(false)">-</div>
</div>
<div class="button-row">
    <div>First Title State</div>
    <div class="button" (click)="entryTile2TitleState = 3">GREEN</div>
    <div class="button" (click)="entryTile2TitleState = 2">RED</div>
    <div class="button" (click)="entryTile2TitleState = 1">ORANGE</div>
    <div class="button" (click)="entryTile2TitleState = 0">GREY</div>
</div>

<div class="columns" style="margin-top: .5rem;">
    <div class="container">
        <div class="item">
            <ui-entry-tile 
                title="Entry Tile with config objects" 
                titleIcon="cpu" 
                collapseMode=1 
                [isLoading]="false"
                moreButtonLabel="More"
                [state]="entryTile2State"
                [pageSize]="itemsPerPage"
                >
                
                <uic-entry-tile-title label="State" value="Unhealthy" [state]="entryTile2TitleState"></uic-entry-tile-title>
                <uic-entry-tile-title label="Updated" value="50 mins ago"></uic-entry-tile-title>

                <uic-entry-tile-item 
                    primaryValue="Primary" 
                    secondaryValue="Subtitle" 
                    state=0 
                    showStateIcon=true
                    >
                </uic-entry-tile-item>
                
                <uic-entry-tile-item 
                    title="Connectivity"
                    primaryValue="Connected"
                    secondaryValue="4 mins ago"
                    icon="pop-out"
                    [clickable]="true"
                    >
                </uic-entry-tile-item>


                <uic-entry-tile-item 
                    primaryValue="Completed"
                    secondaryValue="2 mins ago"
                    state=3
                    title="TLS Registration"
                    >
                </uic-entry-tile-item>

                <uic-entry-tile-item 
                    primaryValue="Started"
                    secondaryValue="12 mins ago"
                    state=1
                    title="Onboarding"
                    >
                </uic-entry-tile-item>
                
                @for (_ of [].constructor(4); track $index) {
                    <uic-entry-tile-item 
                        title="TEST"
                        [primaryValue]="'Registered'.concat(($index + 4).toString())"
                        >
                    </uic-entry-tile-item>

                }
            </ui-entry-tile>

                
        </div>
    </div>
    <div class="container">
        <ui-badge  [state]=2></ui-badge>
    </div>
    <div class="container">&nbsp;</div>
</div>
