
<div style="padding: 2rem">

  <div style="font-weight: 800; font-size: large;">Components Overview</div>
  <p></p>
  <div><strong>BUTTON</strong> with Component Store</div>
  <div style="margin-top: .2rem;"></div>
  <div class="columns">
    <ng-container *ngFor="let model of buttonData">
      {{ model.$description }}
      <div class="item">
        <csgp-button-v2-cs 
          (storeInit)="setButtonIIO($event, model)"
          (onClick)="setOutput(model)"
          >
        </csgp-button-v2-cs>

        <div class="item-output">
          {{ model.$output }}
        </div>
      </div>
    </ng-container>
  </div>

</div>