:host {

    display: contents;

    .columns {
        display: flex;
        width: 100%;
        flex: 1;
    }

    .container {
        width: 100%;
        display: flex;
        
    }

    .item {
        width: 100%;
        display: flex;
        padding: 1rem;
        border: 1px dotted lightgray;

        &:not(:first-child) {
            margin-left: 1rem;
        }
    }

    .item-output {
        align-self: center;
        margin-left: auto;
        font-size: smaller;
    }
}