:host {

    .page-header {
        display: flex;
    }

    .header-button {
        display: flex; 
        margin-left: auto;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .3rem;
        color: #9a9a9a;
        &:hover {
            color: black;
        }
    }


}