<div class="example-page">
    <ui-navigation 
        header="CSG Platform Portal"
        logoPath="assets/CSGP-Logo-Color.png">
        <ui-navigation-section label="DEFAULT">
            <uic-navigation-section-item
                label="Home"
                [isActive]=true
                (itemClicked)="itemClickedEventHandler('Home')"
                (deleteItemClicked)="deleteItemClickedEventHandler('Home')"
            ></uic-navigation-section-item>
            <uic-navigation-section-item
                label="Vehicle Overview"
                [isActive]=false
                (itemClicked)="itemClickedEventHandler('Vehicle Overview')"
                (deleteItemClicked)="deleteItemClickedEventHandler('Vehicle Overview')"
            ></uic-navigation-section-item>
        </ui-navigation-section>
    </ui-navigation>
    
    <ui-toolbar text="Example Page" [maxValueTiles]=3>

        <ui-badge label="CTP 2" [style]="badgeStyle.None" slot="left"></ui-badge>

        <ui-value-tile key="Vin" value="WDB0101010110" [style]=0 [isLoading]=false slot="left">
            <ui-button icon="copy"></ui-button>
            <ui-button icon="pop-out" [style]=0></ui-button>
        </ui-value-tile>

        <ui-value-tile key="Partners" value="3" [isLoading]=false slot="right" [style]=0 tooltip="partner1, partner2">

        </ui-value-tile>

        <ui-value-tile key="Streaming" value="ENABLED" [style]=3 [isLoading]=false slot="right"></ui-value-tile>

        <ui-button label="New Command" icon="upload-cloud" [style]=0 slot="right"></ui-button>
        <ui-button label="Refresh" icon="refresh" [style]=0 slot="right"></ui-button>
        
    </ui-toolbar>


    <ui-grid [columns]=4>

        <ui-card header="Overall Status" grid-column="1">
            <ui-card-section-basic text="The device is a good state. Just the device twin is missing 1 property to be ready for onboarding!" [style]=1>

            </ui-card-section-basic>
        </ui-card>
       
        <ui-card header="Claims" grid-column="1" [style]=0>
            <!--
            <ui-card-section-basic 
                text="Three claims were found, but one with problems." 
                styledMessage="There is one claim not confirmed yet!"
                [list]="liste" 
                [style]=3>
                <ui-button label="Show More Information" slot="footer-left" [style]=0></ui-button>
            </ui-card-section-basic>
            -->
            <ui-card-section-basic 
                header="Partner A" 
                [style]=3>
            </ui-card-section-basic>
            <ui-card-section-basic 
                text="No confimation received within 30 seconds after sending the request." 
                styledMessage="The confirmation is pending since 2 days."
                header="Partner B"
                [showStyledBackground]=true
                [style]=1>
            </ui-card-section-basic>
            <ui-card-section-basic 
                header="Partner C" 
                [style]=3>
            </ui-card-section-basic>

        </ui-card>

            

    </ui-grid>
</div>