<component-header title="ENTRY GRID" subtitle="without Component Store"></component-header>
<div class="columns">
    <div class="container">
        <div class="item">
            <div [class.debugBorder]="showComponentBorder">
                <csgp-entry-grid [rows]=2 [cols]=2 [hasUnifiedLoading]="true" [data]="gridData"></csgp-entry-grid>
            </div>
        </div>
        <div class="description">
            {{ gridData.$description }}
        </div>
        <div class="item-output">
            {{ gridData.$output }}
        </div>
    </div>
</div>